BasedOnStyle: LLVM
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true      # put function braces on a new line
  AfterControlStatement: false   # keep if/while/for braces on the same line
  AfterClass: true
  AfterEnum: true
  AfterStruct: true
IndentWidth: 4
IndentCaseLabels: true
ColumnLimit: 120
UseTab: Never
