# Build artifacts
generated/
build/
build

# Temporary files
*.log
.cache/

# macOS
.DS_Store
.*.icloud

# vim
.*.swp

# Profiling
*.profraw
*.profdata

# KiCad
kicad/**/~*.lck
kicad/**/*.bak
kicad/**/*.kicad_pcb.zip
kicad/**/_restore_backup_*
.history
